@tailwind base;

@tailwind components;

@tailwind utilities;


.centerText{
	text-align: center;
}

body {
  background-color: rgb(5, 14, 53);
	font-family: "Courier New", Courier, monospace;
}

.box {
	font-family: "Courier New", Courier, monospace;
 	border: 5px solid rgb(177, 174, 143);
	border-radius: 8%;
  background-color: indigo; 
}
.card {
	font-family: "Courier New", Courier, monospace;
 	border: 5px solid rgb(177, 174, 143);
	border-radius: 8%;
  background-color: indigo; 
}

footer {
	font-family: "Courier New", Courier, monospace;
	flex: auto;
}